---
interface Props {
  title: string;
  description?: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title, description = "Documenting my coding journey and life." } = Astro.props;
const siteTitle = title.includes("StarterBuild") ? title : `${title} | StarterBuild`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />

    <title>{siteTitle}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />

    <meta property="og:title" content={siteTitle} />
    <meta property="og:site_name" content="StarterBuild" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/assets/oggg.jpeg" />
    <meta property="og:image:alt" content="StarterBuild - Documenting my coding journey and life" />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
